.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 81px 0;

  @media (min-width: $desktop-width) and (max-width: $mid-desktop-width) {
    padding: 150px 10px 81px 10px;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding: 0 106px 0 106px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    padding: 0 28px 15px 29px;
  }
}

.about__block h2 {
  margin: 0;
  margin-bottom: 102px;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: $dark-gray;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-bottom: 86px;
    font-size: 24px;
    line-height: 1.7;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    width: calc(100% + 27px);
    margin-bottom: 84px;
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
  }
}

.about__facts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;

  @media (min-width: $desktop-width) and (max-width: $mid-desktop-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    width: 556px;
    justify-content: space-between;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.about__fact {
  position: relative;
  width: 263px;
  min-height: 91px;
  margin-bottom: 50px;
  padding-top: 2px;
  font-size: 22px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.88;
    letter-spacing: 0.1px;
  }
}

.about__fact:not(:last-of-type) {
  @media (min-width: $desktop-width) {
    margin-right: 38px;
  }
}

.about__fact::before {
  position: absolute;
  top: -55px;
  left: 115px;
  z-index: -1;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -1.27px;
  font-weight: 700;
  color: $cyan;
}

.about__fact:nth-child(-n+9)::before {
  content: "0" counter(item);
  counter-increment: item;
}

.about__fact:nth-child(n+10)::before {
  content: counter(item);
  counter-increment: item;
}
