.title {
  margin: 0;
  padding: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.39;
  letter-spacing: -0.5%;
  color: $white;

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    font-size: 30px;
    line-height: 1.4;
  }

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    font-size: 30px;
    line-height: 1.4;
  }
}
