$white: #ffffff;
$white-0-2: rgba(255, 255, 255, 0.2);
$black: #000000;
$black-0-7: rgba(0, 0, 0, 0.7);
$black-0-5: rgba(0, 0, 0, 0.5);
$special-black: #070707;
$gray: #1c1c1c;
$gray-0-5:rgba(25, 25, 25, 0.5);
$special-gray: #f6f6f6;
$extra-gray: #48494d;
$dark-gray: #1f1f1f;
$border-gray: #c9ccd4;
$close-gray: #141517;
$close-gray-0-6: rgba(20, 21, 23, 0.6);
$close-gray-0-2: rgba(20, 21, 23, 0.2);
$cyan: #0ad9c6;
$default-transition: 0.15s ease-in-out;
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
